<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySelenium" thread-count="5" parallel = "methods">
  <test name="Test">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.mycompany.tesNG.Yahoo"/>
      <class name="com.mycompany.tesNG.Yahoo2"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- MySelenium -->
